<div class="main user-show-wrapper">
	<div class="container">
		<div class="user-show">
			<div class="user">
				<%= image_tag @user.image.to_s %>
				<h3><%= @user.name %></h3>
				<% if user_signed_in? && current_user.id == @user.id %>
					<%= link_to "編集",edit_user_registration_path %>
				<% end %>
			</div>	

			<ul class="user-tabs">
				<li><%= link_to "投稿",user_path %></li>
				<li class="active"><%= link_to "お気に入り", user_favorites_path %></li>
			</ul>

			<% @favorites.each do |favorite| %>
			<% post_user = User.find(favorite.post.user_id) %>
				<div class="posts-index">
					<div class="post-left">
						<%= image_tag post_user.image.to_s %>
						<div class="post-user-name">
							<%= link_to post_user.name, "/users/#{post_user.id}" %>
						</div>
					</div>
					<div class="post-right">
						<%= image_tag favorite.post.image.to_s %>
						<p class="comment"><%= favorite.post.comment %></p>
						<div class="time"><%= favorite.post.created_at.strftime('%Y年%m月%d日 %H:%M') %></div>	
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>