<div class="main user-show-wrapper">
	<div class="container">
		<div class="user-show">
			<div class="user">
				<%= image_tag @user.image.to_s %>
				<h3><%= @user.name %></h3>
				<% if user_signed_in? && current_user.id == @user.id %>
					<%= link_to "編集",edit_user_registration_path %>
				<% end %>
			</div>	

			<ul class="user-tabs">
				<li class="active"><%= link_to "投稿",user_path %></li>
				<li><%= link_to "お気に入り", user_favorites_path %></li>
			</ul>

			<% @user.posts.each do |post| %>
				<div class="posts-index">
					<div class="post-left">
						<%= image_tag post.user.image.to_s %>
						<p class="post-user-name"><%= link_to post.user.name, "/users/#{post.user.id}" %></p>
					</div>
					<div class="post-right">
						<%= image_tag post.image.to_s %>
						<p class="comment"><%= post.a_word %></p>
						<p class="time"><%= post.created_at.strftime('%Y年%m月%d日 %H:%M') %></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>