<div class="user-show-wrapper">
	<div class="container">
		<div class="user-show">
			<div class="user">
				<img alt=" " src= <%= "/user_images/#{@user.image_name}" %>/>
				<h3><%= @user.name %></h3>
			</div>	

			<ul class="user-tabs">
				<li class="active"><%= link_to "投稿","/users/#{@user.id}" %></li>
				<li><%= link_to "お気に入り", "/users/#{@user.id}/favorites" %></li>
			</ul>

			<% @user.posts.each do |post| %>
				<div class="posts-index">
					<div class="post-left">
						<img alt=" " src= <%= "/user_images/#{post.user.image_name}" %>/>
						<p class="post-user-name">
							<%= link_to post.user.name, "/users/#{post.user.id}" %>
						</p>
					</div>
					<div class="post-right">
						<img alt="" src= <%= "/post_images/#{post.image_name}" %>/>
						<p class="comment"><%= post.comment %></p>
						<p class="time"><%= post.created_at.strftime('%Y年%m月%d日 %H:%M') %></p>
					</div>			
				</div>
			<% end %>
		</div>
	</div>
</div>