<div class="posts">
	<% @posts.each do |post| %>
		<div class="post">
			<div class="image-top">
				<%= image_tag post.image.thumb.to_s%>
				<div class="mask1"></div>
				<div class="mask2"></div>
				<div class="comment-top">
					<p><%= safe_join(post.a_word.split("\n"),tag(:br)) %></p>
					<%= link_to "→詳細ページリンク←", post_path(post), id:"#{post.title}のリンクid:#{post.id}"%>
				</div>
			</div>
			<div class="user-top">
				<%= image_tag post.user.image.to_s, id:"#{post.user.name}の写真id:#{post.user.id}" %>
				<%= link_to post.user.name, "/users/#{post.user.id}" %>
			</div>
			<div class="link-favorite" id="favorite-<%= post.id %>">
				<%= render partial: 'favorites/favorite', locals:{post: post} %>
			</div>
		</div>
	<% end %>
		<div class="clear"></div>
</div>
<%= paginate @posts%>