<div class="post-index-wrapper">
	<div class="recommend-show">
		<div class="container">
			<h2 class="recommend-title">注目投稿</h2>
			<div class="recommend-item">
				<% if @favpost %>
					<div class="favpost" data-id= <%= @favpost.id %> >
						<ul>
						</ul>
					</div>
				<% else %>
					<div class="favpost">  <!-- いいねが１つも無い場合 -->
						<ul>
							<li class="slide active">
								<img src="/rainbow.jpg" alt="まだいいねされてません">
							</li>
						</ul>
						
					</div>
				<% end %>
				<div class="change-item">
					<div class="change-btn prev-btn" id="prev"><span class="fa fa-arrow-left"></span></div>
					<div class="change-btn next-btn" id="next"><span class="fa fa-arrow-right"></span></div>
				</div>
			</div>
		</div>
	</div>

	<div class="posts-show">
		<div class="container">
			<h2>投稿一覧</h2>
			<div class="posts">
			<% @posts.each do |post| %>
				<div class="post">
					<div class="image-top">
						<%= link_to image_tag(post.image.to_s), post_path(post.id), id:"#{post.title}の写真id:#{post.id}" %>	
					</div>
					<div class="user-top">
						<%= image_tag post.user.image.to_s, id:"#{post.user.name}の写真id:#{post.user.id}" %>
						<%= link_to post.user.name, "/users/#{post.user.id}" %>
					</div>
					<div class="comment-top">
						<h4>コメント</h4>
						<p><%= post.comment %></p>
					</div>
					<% if user_signed_in? %>
						<div class="link-favorite" id="favorite-<%= post.id %>">
							<%= render partial: 'favorites/favorite', locals:{post: post} %>
						</div>
					<% end %>	
				</div>
				<% end %>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
