<div class="main post-new-wrapper">
	<div class="container">
		<h2>新規投稿ページ</h2>
		<%= form_for(@post, url:{controller:'posts', action:'create'}) do |f|%>
		<div class="form">
			<div class="post-form-body">
				<div class="title-form">
					<h3>商品タイトル</h3>
					<%= f.text_field :title, class:"input title" %>
				</div>
				<div class="image-form">
					<h3>写真を登録</h3>
					<p class="preview"></p>
					<%= f.file_field :post_image, class:"input image" %>
				</div>
				<div class="comment-form">
					<h3>商品の説明</h3>
					<%= f.text_area :comment, class:"input comment", rows:"8" %>
				</div>
				<div class="detail-form">
					<h3>商品詳細</h3>
					<table class="detail-form-table">
						<tr><th>生産地</th><td><%= f.text_field :from, class:"input from" %></td></tr>
						<tr><th>収穫量</th><td><%= f.text_field :amount, class:"input amount" %></td></tr>
					</table>
				</div>
				<div class="submit-btn-form">
					<%= f.submit '投稿' %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

