<div class="main post-show-wrapper">
	<div class="container">
		<div class="post-item">
			<div class="post-user-info">
				<img alt="投稿者写真" src= <%= @user.image.to_s %> >
				<%= link_to @user.name,user_path(@user.id), id:"user-id:#{@user.id}"%>
			</div>
			<div class="post-content">
				<h3 class="post-title"><%= @post.title %></h3>
				<div class="fav-count"></div>
				<%= image_tag @post.image.to_s %>
				<p class="post-comment"><%= @post.a_word %></p>
			</div>
			<div class="post-detail">
				<h3>詳細</h3>
				<table class="post-detail-table">
					<tr><th>生産地:</th><td><%= @post.from %></td></tr>
					<tr><th>収穫量:</th><td><%= @post.amount %></td></tr>
				</table>
			</div>
			<div class="post-time"><%= @post.created_at.strftime('%Y年%m月%d日 %H:%M') %></div>
			<% if user_signed_in? && current_user.id == @user.id %>
					<%= link_to "編集",edit_post_path , class:"post-edit-link" %>
					<%= link_to "削除", post_path, method: :delete %>
			<% end %>
			<div class="clear"></div>
		</div>
		<div class="post-comments">
			<h3>コメント</h3>
			<div id="comments-area">
				<%= render partial: 'comments/index', locals:{comments: @comments, post: @post} %>	
			</div>
			<% if user_signed_in? %>
				<%= render partial: 'comments/form', locals:{comment: @comment, post: @post} %>
			<% else %>
				<p>※ログインしてください</p>	
			<% end %>
		</div>
	</div>
</div>